@import "master";

.App {
  h1 {
    font-weight: inherit;
    font-weight: 500;
    color: $primaryColor;
  }

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-container {
      position: relative;

      $fontSize: 0.8rem;

      input {
        @extend %shadowBox;
        border: none;
        font-family: inherit;
        font-size: $fontSize;
        padding: $fontSize $fontSize $fontSize calc(#{$fontSize} * 3);
      }

      .fas {
        position: absolute;
        color: $primaryColor;
        left: $fontSize;
        top: calc(50% - 0.5em);
      }
    }
  }
}
